.main{
    display: flex;
    background-color: #333;
}
.HeaderImage{
    width: 100%;
    padding: 10pz;
    background-color:transparent;
    height: 25rem;
}
.HeaderImage > img{
    padding: 10px;
    width: max-content;
    height: 18rem;
}
@media only screen and (min-width: "388px"){
    .HeaderImage > img{
        height: 50px;
    }
}